.question-marked
  %h2= t('simon_asks.questions.question_of_the_day')
  - unless question.image && question.image.blank?
    = render 'simon_asks/questions/item_with_image', question: question
  - else
    = render 'simon_asks/questions/item', question: question
