= link_to question_downvote_path(question), remote: true do
  - if current_user && current_user.voted_down_on?(question)
    .cycle.blue
      .minus
  - else
    .cycle
      .minus
%span.vote-count= question.score
= link_to question_upvote_path(question), remote: true do
  - if current_user && current_user.voted_up_on?(question)
    .cycle.blue
      .plus
  - else
    .cycle
      .plus
