- # Navigation
- ##############
.nav
  .location-title.fleft{ style: 'width: 400px; '}
    = link_to t('questions.show.all_questions'), questions_path
    %span= "> #{t('simon_asks.questions.new')}"

- # Form
- ##############
= render 'form'
