= form_for [question, SimonAsks::Comment.new], remote: true, html: {class: 'baseform'} do |f|
  .field
    = f.text_area :content, id: "question-comment-textarea", rows: '2'
  = f.submit t('simon_asks.questions.write_comment'), class: 'btn btn-green btn-small', id: 'question-comment-submit'

:javascript
  $('#question-comment-submit').click(function() {
    $('#add_question_comment_block').hide('slow');
    $('#add_question_comment.loader').show();
  });
