<!DOCTYPE html>
<html>
<head>
  <title>SimonAsks</title>
  <%= stylesheet_link_tag    "simon_asks/application", :media => "all" %>
  <%= javascript_include_tag "simon_asks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
